body, html {
	margin: 0;
	font: 1em sans-serif;           
}

.content {
	padding: 30px;
}

.nav-main {
	width: 100%;
	background-color: #4286f4;
	margin: 0;
	height: 70px;
	color: #fff;
}

.nav-main .logo:hover {
	color: #fff;
	text-decoration: none;
}

a {
	color: #fff;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

.nav-main .logo {
	float: left;
	color: #fff;
	text-decoration: none;
	height: 40px;
	padding: 15px 30px;
	font-size: 1.4em;
	line-height: 40px;
}

.nav-main > ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style-type:none;
}


.nav-main > ul > li {
	float: left;
}

.nav-item {
	display: inline-block;
	padding: 15px 20px;
	height: 70px;
	line-height: 40px;
	color: #fff;
	text-decoration: none;
}

.nav-item:hover {
	background-color: #96beff;
	text-decoration: none;
	color: #fff;
}

.nav-content {
	position: fixed;
	top: 70px;
	z-index: 1000;
	overflow: hidden;
	background-color: rgba(66,134,244,0.8);
	color: #fff;
	max-height: 0;
}

.nav-content a {
	color: #fff;
	text-decoration: none;
}

.nav-content a:hover {
	text-decoration: underline;
	color: #fff;
}

.nav-sub {
	padding: 20px;
}

.nav-sub ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.nav-sub ul li a {
	display: inline-block;
	padding: 5px 0;
}

.nav-item:focus {
	background-color: #96beff;
	text-decoration: none;
	color: #fff;
}

.nav-item:not(:focus) ~ .nav-content {
	max-height: 0;
	transition: max-height 0.4s ease-in-out;
}

.nav-item:focus ~ .nav-content {
	max-height: 400px;
	color: #fff;
	transition-duration: 0.4s;
	transition-property: max-height;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: max-height;
}

.plattegrond {
	width: 800px;
}

h5 {
	font-size: 1.6em;
}

.link {
	color: blue;
	text-decoration: underline;
}

.link:hover {
	color: blue;
	text-decoration: underline;
}

.rooster-item {
	border: 1px solid black;
	margin: 0px;
	justify-content: center;
	padding: 0px;
}

.hoofdpagina {
	background-image: url("http://img.walls321.com/images3/x3tla5pkyu0.jpg");
	color: #485b21;
	text-shadow: h-shadow;
}
.hoofdpagina > .text {
	background-color: rgba(175, 255, 15,0.5);
	border: 4px solid #618c0b;
}